---
//import { getCollection } from "astro:content";
import plates from "~/data/plates.json";

import { siteLang, siteCurrency } from "~/data/config";
//const plates = await getCollection("plates");
const siteLangFormat = siteLang.replace("_", "-");
---

<!-- Quick Nav -->
<div class="mb-20 sticky top-8 z-10">
	<nav class="bg-brand-green text-white rounded-full max-w-5xl mx-auto swiper-plates w-full">
		<ul id="plate-nav" class="px-6 py-3 swiper-wrapper h-auto w-auto">
			{
				plates.map((plate) => (
					<li class="swiper-slide !w-max">
						<a href={`#${plate.slug}`} class="font-medium select-none">
							{plate.prettyName}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</div>

<div class="grid grid-cols-1 gap-y-32">
	{
		plates.map((plate) => (
			<div id={plate.slug} class="space-y-16 scroll-mt-20">
				<div class="flex flex-col items-center gap-2 max-w-lg mx-auto text-balance text-center">
					<h3 class="h4 text-brand-green/70">{plate.prettyName}</h3>
					<p>{plate.description}</p>
				</div>

				<div class="max-w-5xl mx-auto">
  <div class="rounded-xl overflow-hidden shadow-md w-full h-100">
    <img
      src={plate.image}
      alt={plate.prettyName}
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </div>
</div>

			</div>
		))
	}
</div>

<script>
	import Swiper from "swiper";
	import "swiper/css";

	document.addEventListener("astro:page-load", () => {
		const swiperPlates = document.querySelector(".swiper-plates") as HTMLElement;
		new Swiper(swiperPlates, {
			loop: false,
			spaceBetween: 32,
            slidesPerView: "auto",
		});
	});
</script>
